# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\upwork\amazon-transcribe-medical-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
